
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User info</title>
    <link href="webjars/bootstrap/4.3.1/css/bootstrap.css" rel="stylesheet"/>
    <script type="text/javascript" src="/webjars/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
</head>

<body>
<nav class="navbar navbar-dark bg-dark navbar-expand-lg py-md-0">
    <div class="container-fluid">
        <div class="col-md-9 navbar-header">
            <p th:text="${username}" href="#" class="navbar-brand"></p>
        </div>

        <div>
            <div class="col-md-3"></div>
            <a href="/logout" class="navbar-brand">Exit</a>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <div class="btn-group-vertical btn-lg btn-block" role="group" aria-label="Basic example">
                <form th:method="GET" th:action="@{/admin}">
                    <button class="btn btn-link btn-lg btn-block" type="submit">Admin</button>
                </form>
                <button type="button" class="btn btn-primary disabled" >User</button>
            </div>
        </div>

        <div class="panel panel-default col-md-10" style="background-color: #d3d3d3">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-11">
                    <h2>User information-page</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10" style="background-color: #ffffff">
                    <div class="btn-group" role="group" aria-label="Basic example">
                    </div>
                    <div class="panel-heading">
                        <h4>About user</h4>
                    </div>
                    <div class="panel-body">
                        <table class="table table-striped table-hover table-bordered table-sm">
                            <thead>
                            <tr>

                                <th>Id</th>
                                <th>Name</th>
                                <th>Age</th>
                                <th>Username</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr th:each="user: ${users}">
                                <td th:text="${user.getId()}"/>
                                <td th:text="${user.getName()}"/>
                                <td th:text="${user.getAge()}"/>
                                <td th:text="${user.username}"/>
                            </tr>

                            </tbody>
                        </table>

                    </div>
                    <div class="col-md-1"></div>
                </div>
                <div class="row">
                    <div class="col-md-1"></div>
                </div>
            </div>
        </div>
    </div>
</body>
